
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Reader Registration</mat-card-title>
      <!-- <code>{{user|json}}</code> -->
    </mat-card-header>
    <form class="example-form"   #catForm="ngForm" (ngSubmit)="registerMe()"> 
    <mat-card-content>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="First Name" [(ngModel)]="user.first_name" name="first_name" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="Last Name" [(ngModel)]="user.last_name" name="last_name" required>
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" [(ngModel)]="user.email" name="email"   autocomplete="off" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <tr>
                <td>
                  <mat-form-field class="example-full-width">
                  <input matInput placeholder="Phone number" [(ngModel)]="user.phone_number" name="phone_number" required>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <tr>
                  <td>
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" [(ngModel)]="user.username" name="username" required>
                    </mat-form-field>
                  </td>
                </tr>
          <tr>  
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Password" [(ngModel)]="user.password" type="password" name="password"  autocomplete="off"  required>
          </mat-form-field></td>
        </tr>
    </table> 
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="sumbit"  [disabled]="catForm.invalid" color="primary">Register</button>
      <button mat-raised-button  [routerLink]="'/login'" color="primary">Login</button>
    </mat-card-actions>
  </form>
  </mat-card>