<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
  
      <form class="example-form"  #catForm="ngForm">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" [(ngModel)]="credential.username" name="username" required>
            </mat-form-field>
  
            <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" [(ngModel)]="credential.password" type="password" name="password" required>
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" (click)="login()" [disabled]="catForm.invalid"  class="btn-block">Log in</button>
        <a [routerLink]="'/registration'" class="btn btn-link">Reader Register</a>
      </form>
    </mat-card>
  </div>