<div>
    <mat-card>
        <mat-form-field>
            <mat-label>Select a Gener/Category</mat-label>
            <mat-select [(ngModel)]="userId" name="user">
              <mat-option *ngFor="let user of users" [value]="user._id">{{ user.first_name+' '+ user.last_name }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-card-actions>
            <button mat-raised-button (click)="assignBook()"   color="primary">Assign book </button>
          </mat-card-actions>
  </mat-card>
</div>