<div class="example-container">
    <mat-form-field>
      <mat-label>Select a field</mat-label>
      <mat-select [(ngModel)]="search.field"(ngModelChange)="onSearchKeywords()">
        <mat-option *ngFor="let field of fields"  [value]="field.key">{{ field.field }}</mat-option>
      </mat-select>
    </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Search" [(ngModel)]="search.key"
        (ngModelChange)="onSearchKeywords()">
      </mat-form-field>
      <button mat-raised-button  (click)="listMyBooks()" color="primary">{{ bookListMode=="all_books" ? 'My books' : 'All books' }}</button>
    </div>
  <table mat-table [dataSource]="books" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
       <!-- Name Column -->
       <ng-container matColumnDef="isbn">
        <th mat-header-cell *matHeaderCellDef> ISBN </th>
        <td mat-cell *matCellDef="let element"> {{element.isbn}} </td>
      </ng-container>
      <!-- Weight Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef> Author </th>
        <td mat-cell *matCellDef="let element"> {{element.author}} </td>
      </ng-container>
  
      <ng-container matColumnDef="published_on">
          <th mat-header-cell *matHeaderCellDef> Published On </th>
          <td mat-cell *matCellDef="let element"> {{element.published_on|date:'dd/MM/yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element"> 
        <button mat-button (click)="makeComment(element)">
          <mat-icon>comment</mat-icon>
      </button>
      <button *ngIf="this.bookListMode=='my_books'"  mat-button (click)="returnBook(element)">
        <mat-icon>replay</mat-icon>
    </button>
        </td>
        </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    