
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{ book._id ? 'Update' : 'New' }} Book</mat-card-title>
      <!-- {{book|json}} -->
    </mat-card-header>
    <mat-card-content>
      <form  #catForm="ngForm" class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="Name" [(ngModel)]="book.name" name="name" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput  mask="000-0-00-000000-0" [showMaskTyped] = "true"  placeholder="ISBN" [(ngModel)]="book.isbn" name="isbn" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <mat-label>Select a Gener/Category</mat-label>
                <mat-select [(ngModel)]="book.category" name="category">
                  <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="Author" [(ngModel)]="book.author" name="author" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <tr>
                <td>
                  <mat-form-field class="example-full-width">
                  <input matInput type="date" placeholder="Published On" [(ngModel)]="book.published_on" name="published_on" required>
                  </mat-form-field>
                </td>
              </tr>
    </table>
      </form>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="savenewBook()"  [disabled]="catForm.invalid" color="primary">{{ book._id ? 'Update' : 'Save' }}</button>
    </mat-card-actions>
  </mat-card>