<mat-toolbar color="primary">
    <mat-toolbar-row>
    <span>Library Management System | {{userRole | titlecase }}</span>
        <span class="example-fill-remaining-space"></span>
        <span class="align-center"></span>
        <button mat-button *ngFor="let menu of userMenus" (click)="menuClick(menu)">{{menu.menuName}}</button>
        <!-- <button mat-button [routerLink]="'/book'">test</button> -->
        <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" (click)="logout()">logout</mat-icon>
     </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>