::ng-deep .fade.in {
    opacity: 1;
  }
  ::ng-deep .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  ::ng-deep .modal-backdrop.in {
    opacity: 0.5;
  }

  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }