
<div class="example-container">
    <mat-form-field>
        <textarea matInput  [(ngModel)]="description" placeholder="Write comment"></textarea>
    </mat-form-field>
      <button mat-raised-button color="primary" (click)="saveComment()">Save</button>
    </div>


<mat-card *ngFor="let comment of comments; let i = index" class="example-card">
    <mat-card-header>
      <mat-card-subtitle>By {{comment.user}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{comment.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="deleteComment(comment)">DELETE</button>
    </mat-card-actions>
  </mat-card>